Package: rindow-opoverride-php%PHP_VERSION%
Maintainer: Rindow Developers <rindow@users.noreply.github.com>
Architecture: %ARCHITECTURE%
Depends: php%PHP_VERSION%-common
Version: %PHP_RINDOW_OPOVERRIDE_VERSION%
Homepage: https://rindow.github.io/
Description: Rindow Operator overloading PHP extension
 The Rindow Operator overloading PHP extension is overloading PHP operator with a custom class.
